.body {
    background: url(images/home_bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    max-width: 100%; 
    margin: 20px auto;
    
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select, textarea {
    width: 35%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: #ffcc00;
}
.age {
width: 5%;

}
.name{
width: 25%;

}

.fogIdo{

    width: 15%;
}

.tel{

    width: 12%;
}

.package,
.email {

    width: 20%;
}


.gender-radio {
    display: flex;
    flex-direction: column;
    
}
.gender-radio input {
    margin-top: -1.53rem;
   margin-left: 43rem;
}

.gender-radio label {
    margin-bottom: 8px;
}

.btn-box {
    display: flex;
    margin-left: 52.5rem;
}

button {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    border: .2rem solid #fff;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #fff;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    text-decoration: none;
    background-color: transparent;

}

button:hover {
    color: #1a1a1a;
}

button:nth-child(2) {
    background: transparent;
}

button:nth-child(2):hover {
    color: #1a1a1a;
}

button:nth-child(2)::before {
    background: #ffcc00;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffcc00;
    z-index: -1;
    transition: .5s;
}

button:hover::before {
    width: 100%;
}

.contact  {
    text-align: center;
}